/*Responsive Web Design*/

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .form-container {
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: baseline;
        padding-left:25px;
    }

    .btn-container {
        display: flex;
        margin-top: 150px;
    }

    .btn {
        margin: 5px;
    }

    .confirmation-flex {
        display: flex;
        align-items: baseline;
        flex-direction:column;
        justify-content: center;
        padding:290px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .form-container {
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: baseline;
        padding-left:750px;
    }

    .btn-container {
        display: flex;
        margin-top: 200px;
    }

    .btn {
        margin: 20px;
    }

    .confirmation-flex {
        display: flex;
        align-items: baseline;
        flex-direction:column;
        justify-content: center;
        padding:290px;
    }
}

/*Navbar*/
.navbar {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    background: transparent;
    color: white;
    border-color: gray;
    border-width: 1px;
    border-radius: 12px;
    border-style:solid;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

/*Formular*/
.input {
    border-radius:20px;
    background-color:#FFFFFF94;
    padding: 5px;
    width:250px;
}

.input-btn {
    border-radius:25px;
    background-color:#FFFFFF94;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
}

.back-btn {
    background-color: #00000020;
}

.send-btn {
    margin-left: 188px;
}

.label {
    color:white;
}

.textarea {
    border-radius:20px;
    background-color:#FFFFFF94; 
    padding: 5px;
    width:400px;
}

.confirmation-text {
    color:white;
    font-size:25px;
    align-self: center;
}

.confirmation-img {
    align-self: center;
}

a:link {
    color:white;
    text-decoration:none;
}

a:visited {
    color: white;
    text-decoration:none;
}

a:hover {
    color: white;
    text-decoration:none;
}

a:active {
    color:white;
    text-decoration:none;
}