/* Responsive Web Design*/
[class*="col-"] {
    width: 100%;
    border: 1px solid red;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .navbar a {
        width: 100%;
        margin: 1px;
        padding:10px;
    }

    .navbar img {
        margin: auto;
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .p {
        padding:10px;
        border-radius:25px;
        padding-top:30px;
        padding-left:0px;
        height: 610px;
    }

    .text-container {
        padding-top: 20px;
        font-size: 16px;
        width: 500px;
    }

    * {
        padding-left:5px;
        padding-right:5px;
    }
}

@media only screen and (min-width: 768px) {
    /*For Desktop*/
    .p {
        width:100%;
        padding:10px;
        border-radius:25px;
        text-align: center;
        vertical-align: middle;
    }

    .text-container {
        font-size: 16px;
        background-color: #00000094;
        margin: 0 auto;
        border-radius: 15px;
        margin-top: 150px;
        margin-bottom: 130px;
    }
}

/*Navbar*/
.navbar {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    flex-grow: 1;
}

.btn {
    background: transparent;
    color: white;
    border-color: gray;
    background-color: #00000094;
    border-width: 1px;
    border-radius: 12px;
    border-style:solid;
    margin:20px;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.back-btn {
    background: transparent;
    color: white;
    border-color: gray;
    border-width: 1px;
    border-radius: 12px;
    border-style:solid;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.p {
    color: white;
}

.body {
    width: 100%;
    background-size: cover; 
    background-position: center;
}